* {
    font-family: anton, serif;
}

 .my-row {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
 }
.my-row2 {
    display: flex;
    flex-direction: row;
}

.box1 {
    background-color: #e6563b;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: #E6E6E6;
}

.box2 {
    background-color: #eb9d3a;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    text-align: center;
    margin-bottom: 20px;

}
.box3 {
    background-color: #7cb06c;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    text-align: center;
    margin-bottom: 20px;
}
.box4 {
    background-color: #00aba9;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    text-align: center;
    margin-bottom: 20px;
}

.babybox1{

    background-color: #e6563b;
    border-radius: 100%;
    width: 20px;
    height: 20px;

}

.babybox2{
    background-color: #eb9d3a;
    border-radius: 100%;
    width: 20px;
    height: 20px;


}

.babybox3{
    background-color: #7cb06c;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

.babybox4{
    background-color: #00aba9;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

@media only screen and (max-width: 991px) {
    #admin {
        visibility: hidden;

    }
}