

/*@media only screen and (max-width: 765px) {*/
/*    # {*/
/*        background-color: pink;*/

/*    }*/
/*}*/
 .my-row {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
 }

.box1 {
    background-color: #e6563b;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    text-align: center;
    margin-bottom: 20px;
}
.box2 {
    background-color: #eb9d3a;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    text-align: center;
    margin-bottom: 20px;
}
.box3 {
    background-color: #7cb06c;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    text-align: center;
    margin-bottom: 20px;
}
.box4 {
    background-color: #00aba9;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    text-align: center;
    margin-bottom: 20px;
}